simulations/outputdir/*.h5
simulations/outputdir/cfl.out
simulations/outputdir/continua_master.h5
simulations/outputdir/continua_phi.h5
simulations/outputdir/continua_temp.h5
simulations/outputdir/continua_vx.h5
simulations/outputdir/continua_vy.h5
simulations/outputdir/continua_vz.h5
simulations/outputdir/cordin_info.h5
simulations/outputdir/means.h5
simulations/outputdir/fields/00000_phi.h5
simulations/outputdir/fields/00000_temp.h5
simulations/outputdir/fields/00000_vx.h5
simulations/outputdir/fields/00000_vy.h5
simulations/outputdir/fields/00000_vz.h5
simulations/outputdir/flowmov/movie_xcut.h5
simulations/outputdir/flowmov/movie_ycut.h5
simulations/outputdir/flowmov/movie_zcut.h5
